Source: libsmear
Priority: optional
Maintainer: smudgelang project <nmichaels@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.3
Section: libs
Homepage: https://github.com/smudgelang/smear
Vcs-Browser: https://github.com/smudgelang/smear
Vcs-Git: https://github.com/smudgelang/smear.git

Package: libsmear-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}
Description: Smear is the SMudge Environment And Runtime,
 a standard library for the Smudge state machine
 programming language. This is the development package.

#Package: libsmear1
#Architecture: any
#Multi-Arch: same
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: Smear is the SMudge Environment And Runtime,
# a standard library for the Smudge state machine
# programming language.
